{
  "openapi": "3.0.3",
  "info": {
    "title": "Gas City Registry (Pack/Skill Registry) API",
    "version": "0.1.0",
    "description": "Hand-authored (spec-first) OpenAPI for the Gas City pack/skill registry (service: registry): the public CLI supply-chain surface (registry.toml, catalog.json), account + API-token management, the publish-request flow (gcr_ bearer / Gasworks STS EIA / GitHub-Actions OIDC / session), device-grant CLI auth, and reviews. Grounded verbatim in server/app.ts + server/types.ts origin/main. Fully public product; spec-first with openapi-typescript. Wave-4 product spec.",
    "x-gc-source": {
      "repo": "gascity/registry",
      "commit": "f412c83",
      "generator": "hand-authored",
      "direction": "spec-first"
    }
  },
  "servers": [
    {
      "url": "https://registry.gascity.com",
      "description": "registry origin; root-relative paths (the works.gascity.com/registry/* apex mirror is prose)"
    }
  ],
  "security": [
    {
      "gcrToken": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "health",
        "summary": "Health",
        "description": "Liveness.",
        "x-gc-enforcement": "public",
        "x-gc-plane": "both",
        "security": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registry.toml": {
      "get": {
        "operationId": "getRegistryToml",
        "summary": "Registry manifest (public)",
        "description": "The auth-free CLI registry manifest.",
        "x-gc-enforcement": "public",
        "x-gc-plane": "both",
        "security": [],
        "responses": {
          "200": {
            "description": "TOML",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/catalog.json": {
      "get": {
        "operationId": "getCatalog",
        "summary": "Catalog (public)",
        "description": "The auth-free pack catalog.",
        "x-gc-enforcement": "public",
        "x-gc-plane": "both",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/api/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Current session/token identity",
        "description": "Session, Registry-native gcr_ bearer, or Gasworks STS EIA.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [
          {
            "cookieSession": [],
            "csrfToken": []
          },
          {
            "gcrToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          }
        }
      }
    },
    "/api/cli/device/code": {
      "post": {
        "operationId": "deviceCode",
        "summary": "Start device grant (public)",
        "description": "RFC 8628.",
        "x-gc-enforcement": "public",
        "x-gc-plane": "both",
        "security": [],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceCodeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/cli/device/token": {
      "post": {
        "operationId": "deviceToken",
        "summary": "Poll device grant (public)",
        "description": "Returns a gcr_ token when approved, else an OAuth pending/denied error.",
        "x-gc-enforcement": "public",
        "x-gc-plane": "both",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Approved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Pending/denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          }
        }
      }
    },
    "/api/cli/device/approve": {
      "post": {
        "operationId": "deviceApprove",
        "summary": "Approve a device code",
        "description": "Session + CSRF.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [
          {
            "cookieSession": [],
            "csrfToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/cli/device/deny": {
      "post": {
        "operationId": "deviceDeny",
        "summary": "Deny a device code",
        "description": "Session + CSRF.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [
          {
            "cookieSession": [],
            "csrfToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/cli/auth/token": {
      "post": {
        "operationId": "mintCliToken",
        "summary": "Mint a CLI token",
        "description": "Session + CSRF → gcr_ personal token.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [
          {
            "cookieSession": [],
            "csrfToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTokenCreateResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/publish-tokens/github-actions/mint": {
      "post": {
        "operationId": "mintGithubActionsToken",
        "summary": "Mint a GitHub-Actions publish token",
        "description": "GitHub OIDC (audience gascity-registry) → short-lived gcr_ token.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [
          {
            "githubActionsOidc": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/account/api-tokens": {
      "get": {
        "operationId": "listApiTokens",
        "summary": "List API tokens",
        "description": "Session + CSRF.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [
          {
            "cookieSession": [],
            "csrfToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiTokenRow"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createApiToken",
        "summary": "Create an API token",
        "description": "Session + CSRF.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [
          {
            "cookieSession": [],
            "csrfToken": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTokenCreateResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/account/api-tokens/{id}": {
      "delete": {
        "operationId": "revokeApiToken",
        "summary": "Revoke an API token",
        "description": "Session + CSRF.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [
          {
            "cookieSession": [],
            "csrfToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked"
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/ownership": {
      "get": {
        "operationId": "getOwnership",
        "summary": "Pack ownership (public)",
        "description": "Query packKey/sourceUrl.",
        "x-gc-enforcement": "public",
        "x-gc-plane": "both",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/api/github/webhook": {
      "post": {
        "operationId": "githubWebhook",
        "summary": "GitHub webhook (HMAC)",
        "description": "x-hub-signature-256 verified.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [
          {
            "githubWebhook": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Bad signature.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/publish-requests": {
      "post": {
        "operationId": "createPublishRequest",
        "summary": "Submit a publish request",
        "description": "Registry-native gcr_ bearer, Gasworks STS EIA, or session+CSRF. With ?validate=1, validation runs synchronously after the request is durably created.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [
          {
            "cookieSession": [],
            "csrfToken": []
          },
          {
            "gcrToken": []
          }
        ],
        "parameters": [
          {
            "name": "validate",
            "in": "query",
            "required": false,
            "description": "Set to 1 or true to validate the durable request before responding.",
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "true"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishRequestInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created. A synchronous validation success is wrapped as { publishRequest }; creation without validation returns the request directly.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/PublishRequest"
                    },
                    {
                      "$ref": "#/components/schemas/PublishRequestResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid create input, or synchronous validation failed after creation. The latter includes both the machine-readable error and the durable validation_failed request.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/PublishValidationErrorResponse"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Synchronous validation failed unexpectedly after the request was durably created. The response includes the validation_failed request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishValidationErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "The validator produced an unusable pack hash after the request was durably created (`BAD_GC_HASH`). The response includes the validation_failed request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/publish-requests": {
      "get": {
        "operationId": "listMyPublishRequestFeedback",
        "summary": "List my publish-request feedback",
        "description": "Browser session or personal Registry bearer token. GitHub Actions publish tokens are denied.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [{ "cookieSession": [] }, { "gcrToken": [] }],
        "responses": {
          "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PublishRequestFeedbackListResponse" } } } },
          "401": { "description": "Unauthenticated.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "403": { "description": "Token scope denied.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "429": { "description": "Per-user feedback read limit exceeded.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Internal server error.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/v1/me/publish-requests/{id}": {
      "get": {
        "operationId": "getMyPublishRequestFeedback",
        "summary": "Get my publish-request feedback",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [{ "cookieSession": [] }, { "gcrToken": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PublishRequestFeedbackDetailResponse" } } } },
          "401": { "description": "Unauthenticated.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "403": { "description": "Token scope denied.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "404": { "description": "Missing or non-owned request.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "429": { "description": "Per-user feedback read limit exceeded.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Internal server error.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/v1/me/publish-requests/{id}/comments": {
      "post": {
        "operationId": "commentOnMyPublishRequest",
        "summary": "Add a submitter comment",
        "description": "Browser session plus CSRF, or personal Registry bearer token. Only non-terminal requests may be commented on.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [{ "cookieSession": [], "csrfToken": [] }, { "gcrToken": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PublishRequestCommentInput" } } } },
        "responses": {
          "201": { "description": "Created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PublishRequestCommentMutationResponse" } } } },
          "400": { "description": "Malformed JSON body.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "401": { "description": "Unauthenticated.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "403": { "description": "CSRF validation or token scope denied.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "404": { "description": "Missing or non-owned request.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "409": { "description": "`REQUEST_TERMINAL` when the request is no longer mutable, or `STATE_CONFLICT` when its state changes during the atomic mutation.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "413": { "description": "JSON body exceeds the transport byte limit.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "422": { "description": "Comment is empty, contains an unsupported character, or exceeds 4,000 Unicode characters.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "429": { "description": "Per-user feedback mutation limit exceeded.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Internal server error.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/v1/me/publish-requests/{id}/read": {
      "post": {
        "operationId": "markMyPublishRequestRead",
        "summary": "Mark a publish request read",
        "description": "Browser session plus CSRF, or personal Registry bearer token. The unread version is cleared only when observedUnreadAt exactly matches.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [{ "cookieSession": [], "csrfToken": [] }, { "gcrToken": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PublishRequestReadInput" } } } },
        "responses": {
          "204": { "description": "Acknowledged. A stale or fabricated version is an idempotent no-op." },
          "400": { "description": "Malformed JSON body.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "401": { "description": "Unauthenticated.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "403": { "description": "CSRF validation or token scope denied.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "404": { "description": "Missing or non-owned request.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "413": { "description": "JSON body exceeds the transport byte limit.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "422": { "description": "Invalid timestamp.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "429": { "description": "Per-user feedback mutation limit exceeded.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Internal server error.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/v1/admin/publish-requests/{id}": {
      "get": {
        "operationId": "getAdminPublishRequestFeedback",
        "summary": "Get a staff publish-request conversation",
        "description": "Administrator or moderator browser session only; no CSRF is required for this safe read.",
        "x-gc-enforcement": "staff-only",
        "x-gc-plane": "both",
        "security": [{ "cookieSession": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "OK. Submitter unread/read timestamps are intentionally omitted.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AdminPublishRequestFeedbackDetailResponse" } } } },
          "401": { "description": "Unauthenticated.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "403": { "description": "Staff role required.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "404": { "description": "Request not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "429": { "description": "Per-user feedback read limit exceeded.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Internal server error.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/v1/admin/publish-requests/{id}/comments": {
      "post": {
        "operationId": "commentOnAdminPublishRequest",
        "summary": "Add a staff publish-request comment",
        "description": "Administrator or moderator browser session plus CSRF only.",
        "x-gc-enforcement": "staff-only",
        "x-gc-plane": "both",
        "security": [{ "cookieSession": [], "csrfToken": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StaffPublishRequestCommentInput" } } } },
        "responses": {
          "201": { "description": "Created.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PublishRequestCommentMutationResponse" } } } },
          "400": { "description": "Malformed JSON body.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "401": { "description": "Unauthenticated.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "403": { "description": "Staff role or CSRF validation failed.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "404": { "description": "Request not found.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "409": { "description": "`REQUEST_TERMINAL` when the request is no longer mutable, or `STATE_CONFLICT` when its state changes during the atomic mutation.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "413": { "description": "JSON body exceeds the transport byte limit.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "422": { "description": "Comment/action owner is invalid or the comment exceeds 4,000 Unicode characters.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "429": { "description": "Per-user feedback mutation limit exceeded.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Internal server error.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/account/publish-requests": {
      "get": {
        "operationId": "listMyPublishRequests",
        "summary": "My publish requests",
        "description": "Session + CSRF.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [
          {
            "cookieSession": [],
            "csrfToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "publishRequests"
                  ],
                  "properties": {
                    "publishRequests": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublishRequest"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/publish-requests/{id}/validate": {
      "post": {
        "operationId": "validatePublishRequest",
        "summary": "Revalidate a publish request",
        "description": "Session + CSRF. The submitter or registry staff may rerun validation on a non-terminal request.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [
          {
            "cookieSession": [],
            "csrfToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Validation passed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The request belongs to another publisher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Publish request not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "The request is approved, rejected, or withdrawn and cannot re-enter validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed. The response includes both the machine-readable error and the durable validation_failed request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishValidationErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Validation failed unexpectedly. The response includes the durable validation_failed request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishValidationErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "The validator produced an unusable pack hash (`BAD_GC_HASH`). The response includes the durable validation_failed request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/publish-requests/{id}/approve": {
      "post": {
        "operationId": "approvePublishRequest",
        "summary": "Approve a publish request",
        "description": "Session + CSRF + staff. Runs the merge gate: validated, source-repository control, the namespace rules (unscoped names are reserved; a scoped name's scope must be the proven repository owner; the name's existing claim must point at the source repository), the withdrawn-version guard, and an aggregate dry run.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [
          {
            "cookieSession": [],
            "csrfToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ownershipOverrideReason": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Audited justification for approving a claim-only publish with no proof of source-repository control. Does NOT authorize re-pinning a pack name."
                  },
                  "namePinOverrideReason": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Audited justification for re-pointing an existing pack-name claim at this request's repository (the repository-migration path). Recorded with both the previous and the new binding."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. `FORBIDDEN` (not staff), `OWNERSHIP_NOT_VERIFIED` (no proof of source-repository control), `PUBLISH_NAME_RESERVED` (unscoped pack names are reserved for ingested packs and cannot be minted by a publish), or `PUBLISH_SCOPE_MISMATCH` (the name's scope is not the source repository's owner). The two name codes have no staff override.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. `PUBLISH_NAME_OWNER_MISMATCH` (the pack name is claimed by another repository; a `namePinOverrideReason` re-pins it instead), `PUBLISH_VERSION_WITHDRAWN` (this lineage's name@version was withdrawn and can only be reinstated with identical commit, hash and ref), `PUBLISH_CONFLICT` (the approval would not merge into the served catalog), or `CONFLICT` (the name's claim changed while this approval was in review \u2014 a concurrent approval or claim release won the race; re-open the request and approve again). `CONFLICT` is a retry, NOT a re-pin: the claim is authoritative and the request was not merged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable. `PUBLISH_NOT_VALIDATED` (the request must be validated before approval) or `VALIDATION_ERROR` (an override reason is too long).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/publish-requests/{id}/reject": {
      "post": {
        "operationId": "rejectPublishRequest",
        "summary": "Reject a publish request",
        "description": "Session + CSRF + staff.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [
          {
            "cookieSession": [],
            "csrfToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/publish-requests/{id}/withdraw": {
      "post": {
        "operationId": "withdrawPublishRequest",
        "summary": "Withdraw (take down) an approved publish",
        "description": "Session + CSRF + staff. Only an approved request can be withdrawn; the release drops from the served catalog and the row becomes terminal.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [
          {
            "cookieSession": [],
            "csrfToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Audited takedown reason."
                  },
                  "releaseNameClaim": {
                    "type": "boolean",
                    "description": "Also unclaim the pack name, in the same transaction as the takedown. Off by default: a content takedown must leave the name pinned to the repository that owns it. Releasing an unscoped name does not make it publishable again — unscoped names stay reserved."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable. `VALIDATION_ERROR` when `releaseNameClaim` cannot be honoured: the name is unscoped (bare names stay reserved, so releasing the claim would make the name permanently unpublishable), or another approved release of the same name is still served (releasing would unclaim a live name, and the next boot's grandfather backfill would silently re-mint the claim against the first-approved repo). Nothing is withdrawn when the release is refused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/reviews": {
      "get": {
        "operationId": "listReviews",
        "summary": "List reviews (public)",
        "description": "Query packKey.",
        "x-gc-enforcement": "public",
        "x-gc-plane": "both",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewListResult"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "upsertReview",
        "summary": "Create/update a review",
        "description": "Session + CSRF.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [
          {
            "cookieSession": [],
            "csrfToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewRow"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteReview",
        "summary": "Delete a review",
        "description": "Session + CSRF; query packKey.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [
          {
            "cookieSession": [],
            "csrfToken": []
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/account/reviews": {
      "get": {
        "operationId": "listMyReviews",
        "summary": "My reviews",
        "description": "Session + CSRF.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [
          {
            "cookieSession": [],
            "csrfToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReviewRow"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/stars": {
      "put": {
        "operationId": "toggleStar",
        "summary": "Toggle a star",
        "description": "Session + CSRF.",
        "x-gc-enforcement": "authenticate-only",
        "x-gc-plane": "both",
        "security": [
          {
            "cookieSession": [],
            "csrfToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "gcrToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "gcr_ or EIA JWT",
        "description": "Registry API key (prefix gcr_) or short-lived Gasworks STS EIA for audience registry."
      },
      "cookieSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "registry_session",
        "description": "First-party browser session."
      },
      "csrfToken": {
        "type": "apiKey",
        "in": "header",
        "name": "x-csrf-token",
        "description": "CSRF token (AND-composed with cookieSession + same-origin on mutations)."
      },
      "githubActionsOidc": {
        "type": "http",
        "scheme": "bearer",
        "description": "GitHub Actions OIDC JWT (audience gascity-registry) in the request body; mints a short-lived gcr_ publish token."
      },
      "githubWebhook": {
        "type": "apiKey",
        "in": "header",
        "name": "x-hub-signature-256",
        "description": "GitHub webhook HMAC signature."
      }
    },
    "schemas": {
      "PublicUser": {
        "type": "object",
        "required": [
          "id",
          "handle",
          "displayName",
          "role"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "handle": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "moderator",
              "user"
            ]
          }
        }
      },
      "Me": {
        "type": "object",
        "required": [
          "authConfigured",
          "devAuthEnabled",
          "store"
        ],
        "properties": {
          "user": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PublicUser"
              }
            ],
            "nullable": true
          },
          "csrfToken": {
            "type": "string",
            "nullable": true
          },
          "authConfigured": {
            "type": "boolean"
          },
          "authProvider": {
            "type": "string",
            "nullable": true
          },
          "devAuthEnabled": {
            "type": "boolean"
          },
          "store": {
            "type": "string",
            "enum": [
              "file",
              "postgres"
            ]
          }
        }
      },
      "PublishRegistryRelease": {
        "type": "object",
        "required": [
          "version",
          "ref",
          "commit",
          "hash",
          "description"
        ],
        "properties": {
          "version": {
            "type": "string"
          },
          "ref": {
            "type": "string"
          },
          "commit": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "PublishRegistryEntry": {
        "type": "object",
        "required": [
          "name",
          "description",
          "source",
          "sourceKind",
          "release"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "sourceKind": {
            "type": "string",
            "enum": [
              "git"
            ]
          },
          "release": {
            "$ref": "#/components/schemas/PublishRegistryRelease"
          }
        }
      },
      "PublishRequestStatus": {
        "type": "string",
        "enum": ["pending_validation", "validation_failed", "pending_review", "approved", "rejected", "withdrawn"]
      },
      "PublishRequestActionOwner": {
        "type": "string",
        "enum": ["submitter", "registry"]
      },
      "PublishRequestNextStep": {
        "type": "string",
        "enum": ["await_validation", "fix_validation", "respond_to_feedback", "await_registry_review", "published", "resubmit"]
      },
      "PublishRequestComment": {
        "type": "object",
        "required": ["id", "authorHandle", "authorRole", "body", "createdAt"],
        "properties": {
          "id": { "type": "string" },
          "authorHandle": { "type": "string" },
          "authorRole": { "$ref": "#/components/schemas/PublishRequestActionOwner" },
          "body": { "type": "string", "description": "Plain text only; clients must not render it as HTML." },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "PublishRequestFeedbackCoreSummary": {
        "type": "object",
        "description": "Fields shared by owner summaries and staff detail.",
        "required": ["id", "status", "nextStep", "requestedName", "requestedVersion", "repository", "packPath", "commit", "createdAt", "updatedAt"],
        "properties": {
          "id": { "type": "string" },
          "status": { "$ref": "#/components/schemas/PublishRequestStatus" },
          "nextStep": { "$ref": "#/components/schemas/PublishRequestNextStep" },
          "actionRequiredBy": { "$ref": "#/components/schemas/PublishRequestActionOwner" },
          "requestedName": { "type": "string" },
          "requestedVersion": { "type": "string" },
          "repository": {
            "type": "object",
            "required": ["host", "owner", "name", "fullName"],
            "properties": {
              "host": { "type": "string", "enum": ["github.com"] },
              "owner": { "type": "string" },
              "name": { "type": "string" },
              "fullName": { "type": "string" }
            }
          },
          "packPath": { "type": "string" },
          "commit": { "type": "string" },
          "statusReason": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "PublishRequestFeedbackSummary": {
        "description": "Owner-facing summary. The unread version timestamps let the owner acknowledge exactly the update they observed.",
        "allOf": [
          { "$ref": "#/components/schemas/PublishRequestFeedbackCoreSummary" },
          {
            "type": "object",
            "required": ["unread", "submitterUnreadAt"],
            "properties": {
              "unread": { "type": "boolean" },
              "submitterUnreadAt": { "type": "string", "format": "date-time", "nullable": true }
            }
          }
        ]
      },
      "PublishRequestFeedbackDetailFields": {
        "type": "object",
        "required": ["repoUrl", "sourceUrl", "comments"],
        "properties": {
          "repoUrl": { "type": "string" },
          "sourceUrl": { "type": "string" },
          "requestedRef": { "type": "string" },
          "requestedDescription": { "type": "string" },
          "validationError": { "type": "string" },
          "validatedAt": { "type": "string", "format": "date-time" },
          "reviewedAt": { "type": "string", "format": "date-time" },
          "registryEntry": { "$ref": "#/components/schemas/PublishRegistryEntry" },
          "comments": { "type": "array", "items": { "$ref": "#/components/schemas/PublishRequestComment" } }
        }
      },
      "PublishRequestFeedbackDetail": {
        "allOf": [
          { "$ref": "#/components/schemas/PublishRequestFeedbackSummary" },
          { "$ref": "#/components/schemas/PublishRequestFeedbackDetailFields" }
        ]
      },
      "StaffPublishRequestFeedbackDetail": {
        "description": "Staff detail snapshot. Submitter unread/read state is private and is not part of this schema.",
        "allOf": [
          { "$ref": "#/components/schemas/PublishRequestFeedbackCoreSummary" },
          { "$ref": "#/components/schemas/PublishRequestFeedbackDetailFields" },
          {
            "type": "object",
            "required": ["submittedBy"],
            "properties": {
              "submittedBy": { "$ref": "#/components/schemas/PublicUser" }
            }
          }
        ]
      },
      "PublishRequestFeedbackListResponse": {
        "type": "object", "required": ["publishRequests", "unreadCount"], "properties": {
          "publishRequests": { "type": "array", "items": { "$ref": "#/components/schemas/PublishRequestFeedbackSummary" } },
          "unreadCount": { "type": "integer", "minimum": 0 }
        }
      },
      "PublishRequestFeedbackDetailResponse": {
        "type": "object", "required": ["publishRequest"], "properties": { "publishRequest": { "$ref": "#/components/schemas/PublishRequestFeedbackDetail" } }
      },
      "AdminPublishRequestFeedbackDetailResponse": {
        "type": "object", "required": ["publishRequest"], "properties": { "publishRequest": { "$ref": "#/components/schemas/StaffPublishRequestFeedbackDetail" } }
      },
      "PublishRequestCommentInput": {
        "type": "object", "required": ["body"], "properties": { "body": { "type": "string", "minLength": 1, "maxLength": 4000 } }
      },
      "StaffPublishRequestCommentInput": {
        "allOf": [{ "$ref": "#/components/schemas/PublishRequestCommentInput" }, { "type": "object", "required": ["actionRequiredBy"], "properties": { "actionRequiredBy": { "$ref": "#/components/schemas/PublishRequestActionOwner" } } }]
      },
      "PublishRequestCommentMutationResponse": {
        "type": "object", "required": ["comment"], "properties": { "comment": { "$ref": "#/components/schemas/PublishRequestComment" } }
      },
      "PublishRequestReadInput": {
        "type": "object", "required": ["observedUnreadAt"], "properties": { "observedUnreadAt": { "type": "string", "format": "date-time" } }
      },
      "PublishRequest": {
        "type": "object",
        "required": [
          "id",
          "status",
          "requestedName",
          "requestedVersion",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending_validation",
              "validation_failed",
              "pending_review",
              "approved",
              "rejected",
              "withdrawn"
            ]
          },
          "repoUrl": {
            "type": "string"
          },
          "sourceUrl": {
            "type": "string"
          },
          "packPath": {
            "type": "string"
          },
          "commit": {
            "type": "string"
          },
          "requestedName": {
            "type": "string"
          },
          "requestedVersion": {
            "type": "string"
          },
          "requestedDescription": {
            "type": "string"
          },
          "registryEntry": {
            "$ref": "#/components/schemas/PublishRegistryEntry"
          },
          "validationError": {
            "type": "string"
          },
          "statusReason": {
            "type": "string"
          },
          "submissionMethod": {
            "type": "string",
            "enum": [
              "web_session",
              "api_token",
              "github_actions_oidc",
              "github_import"
            ]
          },
          "sourceGithubRepositoryId": {
            "type": "string",
            "description": "Rename-stable GitHub repository ID recorded by a repo-proven submission."
          },
          "sourceGithubOwnerId": {
            "type": "string",
            "description": "Rename-stable GitHub owner ID recorded by a repo-proven submission."
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "PublishRequestResponse": {
        "type": "object",
        "required": [
          "publishRequest"
        ],
        "properties": {
          "publishRequest": {
            "$ref": "#/components/schemas/PublishRequest"
          }
        }
      },
      "PublishValidationErrorResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiError"
          },
          {
            "type": "object",
            "required": [
              "publishRequest"
            ],
            "properties": {
              "publishRequest": {
                "$ref": "#/components/schemas/PublishRequest"
              }
            }
          }
        ]
      },
      "PublishRequestInput": {
        "type": "object",
        "required": [
          "repoUrl",
          "commit",
          "requestedName",
          "requestedVersion"
        ],
        "properties": {
          "repoUrl": {
            "type": "string"
          },
          "commit": {
            "type": "string"
          },
          "packPath": {
            "type": "string"
          },
          "requestedName": {
            "type": "string"
          },
          "requestedVersion": {
            "type": "string"
          },
          "requestedRef": {
            "type": "string"
          },
          "requestedDescription": {
            "type": "string"
          }
        }
      },
      "ApiTokenRow": {
        "type": "object",
        "required": [
          "id",
          "label",
          "prefix",
          "kind",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "prefix": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "personal",
              "github_actions_publish"
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string"
          },
          "lastUsedAt": {
            "type": "string"
          },
          "revokedAt": {
            "type": "string"
          }
        }
      },
      "ApiTokenCreateResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiTokenRow"
          },
          {
            "type": "object",
            "required": [
              "token"
            ],
            "properties": {
              "token": {
                "type": "string",
                "description": "shown once"
              }
            }
          }
        ]
      },
      "ReviewRow": {
        "type": "object",
        "required": [
          "id",
          "packKey",
          "rating",
          "body",
          "recommend",
          "createdAt",
          "updatedAt",
          "user",
          "viewerCanDelete"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "packKey": {
            "type": "string"
          },
          "rating": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "recommend": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/PublicUser"
          },
          "viewerCanDelete": {
            "type": "boolean"
          }
        }
      },
      "ReviewListResult": {
        "type": "object",
        "required": [
          "summary",
          "reviews",
          "viewerHasStarred"
        ],
        "properties": {
          "summary": {
            "type": "object",
            "required": [
              "count",
              "recommendCount"
            ],
            "properties": {
              "count": {
                "type": "integer"
              },
              "averageRating": {
                "type": "number",
                "nullable": true
              },
              "recommendCount": {
                "type": "integer"
              }
            }
          },
          "reviews": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReviewRow"
            }
          },
          "viewerReview": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ReviewRow"
              }
            ],
            "nullable": true
          },
          "viewerHasStarred": {
            "type": "boolean"
          }
        }
      },
      "DeviceCodeResponse": {
        "type": "object",
        "required": [
          "device_code",
          "user_code",
          "verification_uri",
          "verification_uri_complete",
          "expires_in",
          "interval"
        ],
        "properties": {
          "device_code": {
            "type": "string"
          },
          "user_code": {
            "type": "string"
          },
          "verification_uri": {
            "type": "string"
          },
          "verification_uri_complete": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          },
          "interval": {
            "type": "integer"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "required": [
          "access_token",
          "token_type",
          "scope"
        ],
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "enum": [
              "bearer"
            ]
          },
          "scope": {
            "type": "string"
          },
          "registry_url": {
            "type": "string"
          },
          "audience": {
            "type": "string"
          },
          "expires_at": {
            "type": "string"
          }
        }
      },
      "OAuthError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "authorization_pending",
              "access_denied",
              "expired_token",
              "slow_down"
            ]
          }
        },
        "additionalProperties": true
      },
      "ApiError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
